<!-- tells teh computer that angular is going to run on everything inside here -->
<html ng-app="fullMeanDemo">
<head>
	<title>Full Mean Demo</title>
	<!-- loads angular from the cdn -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<!-- tells the client that the controller will control this section (body) -->
<body ng-controller="FriendsController">
	<h1>Friends</h1>
	<input type="text" ng-model="filter_name" placeholder="filter">
	{{filter_name}}
	<ul>
		<li ng-repeat="friend in friends | filter: filter_name">
			{{friend.name}}, {{friend.age}}
		</li>
	</ul>

	<h1>Add a Friend</h1>
	<input type="text" ng-model="new_friend.name" placeholder="name">
	<input type="text" ng-model="new_friend.age" placeholder="age">
	<input type="submit" ng-click="addfriend()">
	
	<script type="text/javascript" src="angular/app.js"></script>
	<script type="text/javascript" src="angular/controllers/friends-controller.js"></script>
	<script type="text/javascript" src="angular/factories/friend-factory.js"></script>
</body>
</html>